# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

import time
import gmaps.datasets

from IPython.display import HTML
from ipywidgets.embed import embed_minimal_html



from pprint import pprint
!jupyter nbextension enable --py gmaps
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
# Import API key
from api_keys import g_key

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# cities_csv = "../output_data/cities.csv"
# read_file = pd.read_csv(cities_csv)
# cities_df = read_file.drop("Unnamed: 0", 1)
# cities_df.head()

read_file= pd.read_csv('../output_data/cities.csv')
cities_df = read_file.drop("Unnamed: 0", 1)
cities_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Newport,40,GB,1580270326,80,51.59,-3.00,39.90,16.11
1,Dikson,100,RU,1580270486,95,73.51,80.55,-18.06,14.38
2,Beira,0,MZ,1580270403,78,-19.84,34.84,81.07,14.50
3,Port Alfred,60,ZA,1580270610,85,-33.59,26.89,66.99,5.01
4,Pillaro,20,EC,1580270621,87,-1.17,-78.53,45.21,5.82

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key = g_key)

locations = cities_df[['Lat','Lng']]
humidity = cities_df['Humidity']
centerv= ["0","0"]
fig = gmaps.figure(zoom_level = 2,center = centerv)
heat_layer = gmaps.heatmap_layer(locations,weights=humidity,dissipating = False, max_intensity = 300,point_radius = 2)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
cities_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Newport,40,GB,1580270326,80,51.59,-3.00,39.90,16.11
1,Dikson,100,RU,1580270486,95,73.51,80.55,-18.06,14.38
2,Beira,0,MZ,1580270403,78,-19.84,34.84,81.07,14.50
3,Port Alfred,60,ZA,1580270610,85,-33.59,26.89,66.99,5.01
4,Pillaro,20,EC,1580270621,87,-1.17,-78.53,45.21,5.82

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
reduced_df = cities_df.loc[(cities_df['Max Temp'] >= 70) &
                          (cities_df['Max Temp']<80) &
                          (cities_df['Wind Speed']<10) &
                          (cities_df['Cloudiness'] == 0)]

reduced_df = reduced_df.dropna().reset_index()
reduced_df

,index,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,112,Cockburn Town,0,TC,1580270460,70,21.46,-71.14,77.67,8.41
1,171,Sompeta,0,IN,1580270816,77,18.93,84.60,75.33,5.32
2,357,Governador Dix-Sept Rosado,0,BR,1580271038,72,-5.46,-37.52,79.93,7.40
3,388,Nueva Gerona,0,CU,1580271075,78,21.88,-82.80,76.77,6.46
4,427,San Patricio,0,MX,1580271130,63,19.22,-104.70,76.05,4.29
5,439,Champerico,0,GT,1580271144,78,14.30,-91.92,75.02,4.21

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
reduced_df['Hotel Name'] = ''
reduced_df

,index,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,112,Cockburn Town,0,TC,1580270460,70,21.46,-71.14,77.67,8.41,
1,171,Sompeta,0,IN,1580270816,77,18.93,84.60,75.33,5.32,
2,357,Governador Dix-Sept Rosado,0,BR,1580271038,72,-5.46,-37.52,79.93,7.40,
3,388,Nueva Gerona,0,CU,1580271075,78,21.88,-82.80,76.77,6.46,
4,427,San Patricio,0,MX,1580271130,63,19.22,-104.70,76.05,4.29,
5,439,Champerico,0,GT,1580271144,78,14.30,-91.92,75.02,4.21,

In [7]:
base_url_location = "https://maps.googleapis.com/maps/api/geocode/json"
params_location = {
    "address" : "",
    "components": "",
    "key": g_key
}
base_url_hotel = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params_hotel = {
    "location": "",
    "radius" : "5000",
    "rankby": "distance",
    "type": "lodging",
    "key": g_key
}
for index, row in reduced_df.iterrows():
    city = row["City"]
    country = row["Country"]
    params_location["address"] = city
    params_location["components"] = f"country:{country}"
    response_location = requests.get(base_url_location, params=params_location).json()
    try:
        location = response_location["results"][0]["geometry"]["location"]
        lat = location["lat"]
        lng = location["lng"]
        print(f"{lat}, {lng}")
        params_hotel["location"] = f"{lat},{lng}"
        response_hotel = requests.get(base_url_hotel, params=params_hotel).json()
        pprint(response_hotel["results"][0])
        time.sleep(1)
    except:
        print("Missing Fields/Results...  skipping.")

base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

params = {'key': g_key,
    'radius':5000,
    'location': None,
    'type':'lodging'}

21.4674584, -71.13891009999999
Missing Fields/Results...  skipping.
18.9456083, 84.582481
Missing Fields/Results...  skipping.
-5.4502858, -37.5186012
Missing Fields/Results...  skipping.
21.8788609, -82.8101975
Missing Fields/Results...  skipping.
19.2251985, -104.703973
Missing Fields/Results...  skipping.
14.2974022, -91.9087026
Missing Fields/Results...  skipping.

In [8]:
reduced_df

,index,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,112,Cockburn Town,0,TC,1580270460,70,21.46,-71.14,77.67,8.41,
1,171,Sompeta,0,IN,1580270816,77,18.93,84.60,75.33,5.32,
2,357,Governador Dix-Sept Rosado,0,BR,1580271038,72,-5.46,-37.52,79.93,7.40,
3,388,Nueva Gerona,0,CU,1580271075,78,21.88,-82.80,76.77,6.46,
4,427,San Patricio,0,MX,1580271130,63,19.22,-104.70,76.05,4.29,
5,439,Champerico,0,GT,1580271144,78,14.30,-91.92,75.02,4.21,

# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in reduced_df.iterrows()]
locations = reduced_df[["Lat", "Lng"]]
locations

In [9]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations,info_box_content = hotel_info)
fig.add_layer(marker_layer)
fig

# Display Map