# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

import time
import gmaps.datasets

from IPython.display import HTML
from ipywidgets.embed import embed_minimal_html



from pprint import pprint
!jupyter nbextension enable --py gmaps
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
# Import API key
from api_keys import g_key

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# cities_csv = "../output_data/cities.csv"
# read_file = pd.read_csv(cities_csv)
# cities_df = read_file.drop("Unnamed: 0", 1)
# cities_df.head()

read_file= pd.read_csv('../output_data/cities.csv')
cities_df = read_file.drop("Unnamed: 0", 1)
cities_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Sur,0,OM,1580179028,59,22.57,59.53,62.64,9.91
1,Shirokovskiy,100,RU,1580179030,100,58.84,57.78,-13.61,3.58
2,Saskylakh,7,RU,1580179031,95,71.92,114.08,-23.10,4.27
3,Avarua,100,CK,1580178942,88,-21.21,-159.78,78.80,6.93
4,Mahebourg,75,MU,1580179033,88,-20.41,57.70,70.72,3.36

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key = g_key)

locations = cities_df[['Lat','Lng']]
humidity = cities_df['Humidity']
centerv= ["0","0"]
fig = gmaps.figure(zoom_level = 2,center = centerv)
heat_layer = gmaps.heatmap_layer(locations,weights=humidity,dissipating = False, max_intensity = 300,point_radius = 2)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
cities_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Sur,0,OM,1580179028,59,22.57,59.53,62.64,9.91
1,Shirokovskiy,100,RU,1580179030,100,58.84,57.78,-13.61,3.58
2,Saskylakh,7,RU,1580179031,95,71.92,114.08,-23.10,4.27
3,Avarua,100,CK,1580178942,88,-21.21,-159.78,78.80,6.93
4,Mahebourg,75,MU,1580179033,88,-20.41,57.70,70.72,3.36

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
reduced_df = cities_df.loc[(cities_df['Max Temp'] >= 70) &
                          (cities_df['Max Temp']<80) &
                          (cities_df['Wind Speed']<10) &
                          (cities_df['Cloudiness'] == 0)]

reduced_df = reduced_df.dropna().reset_index()
reduced_df

,index,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,165,Gopalpur,0,IN,1580179222,68,19.27,84.92,72.14,4.05
1,247,Cabo Rojo,0,PR,1580179318,78,18.09,-67.15,75.06,4.45
2,317,La Mira,0,MX,1580179400,77,18.04,-102.33,73.65,6.24
3,322,Nioro,0,GM,1580179406,11,13.35,-15.75,71.55,0.81
4,398,General Roca,0,AR,1580179517,53,-39.03,-67.58,73.40,6.22
5,423,Pathein,0,MM,1580179546,54,16.78,94.73,74.89,9.91
6,424,Omboue,0,GA,1580179547,95,-1.57,9.26,75.36,0.49
7,494,Ciudad Lazaro Cardenas,0,MX,1580179651,79,17.96,-102.20,72.97,2.62
8,542,Paraty,0,BR,1580179708,82,-23.22,-44.71,72.77,4.56

In [6]:
reduced_df['Hotel Name'] = ''
reduced_df

,index,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,165,Gopalpur,0,IN,1580179222,68,19.27,84.92,72.14,4.05,
1,247,Cabo Rojo,0,PR,1580179318,78,18.09,-67.15,75.06,4.45,
2,317,La Mira,0,MX,1580179400,77,18.04,-102.33,73.65,6.24,
3,322,Nioro,0,GM,1580179406,11,13.35,-15.75,71.55,0.81,
4,398,General Roca,0,AR,1580179517,53,-39.03,-67.58,73.40,6.22,
5,423,Pathein,0,MM,1580179546,54,16.78,94.73,74.89,9.91,
6,424,Omboue,0,GA,1580179547,95,-1.57,9.26,75.36,0.49,
7,494,Ciudad Lazaro Cardenas,0,MX,1580179651,79,17.96,-102.20,72.97,2.62,
8,542,Paraty,0,BR,1580179708,82,-23.22,-44.71,72.77,4.56,

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
base_url_location = "https://maps.googleapis.com/maps/api/geocode/json"
params_location = {
    "address" : "",
    "components": "",
    "key": g_key
}
base_url_hotel = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params_hotel = {
    "location": "",
    "radius" : "5000",
    "rankby": "distance",
    "type": "lodging",
    "key": g_key
}
for index, row in reduced_df.iterrows():
    city = row["City"]
    country = row["Country"]
    params_location["address"] = city
    params_location["components"] = f"country:{country}"
    response_location = requests.get(base_url_location, params=params_location).json()
    try:
        location = response_location["results"][0]["geometry"]["location"]
        lat = location["lat"]
        lng = location["lng"]
        print(f"{lat}, {lng}")
        params_hotel["location"] = f"{lat},{lng}"
        response_hotel = requests.get(base_url_hotel, params=params_hotel).json()
        pprint(response_hotel["results"][0])
        time.sleep(1)
    except:
        print("Missing Fields/Results...  skipping.")

base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

params = {'key': g_key,
    'radius':5000,
    'location': None,
    'type':'lodging'}

19.2647208, 84.8620054
Missing Fields/Results...  skipping.
18.0875347, -67.14699639999999
Missing Fields/Results...  skipping.
18.0335012, -102.3263446
Missing Fields/Results...  skipping.
13.3532993, -15.74612
Missing Fields/Results...  skipping.
-39.032803, -67.5892227
Missing Fields/Results...  skipping.
16.7753609, 94.7381013
Missing Fields/Results...  skipping.
-1.575187, 9.2591571
Missing Fields/Results...  skipping.
17.9567646, -102.1943485
Missing Fields/Results...  skipping.
-23.2200382, -44.7204287
Missing Fields/Results...  skipping.

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display Map